.group
  =f.label :address
  =f.error_message_on :address
  =f.text_field :address, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :request_type
  =f.error_message_on :request_type
  =f.text_field :request_type, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :request_body
  =f.error_message_on :request_body
  ~f.text_area :request_body, :class => :text_area#, :value => f.object.request_body_casted
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:sites, :index)}';return false", :class => :button
